# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# macOS system files
.DS_Store

# Logs and temporary files
*.log
*.tmp

# Exiftool backups
*_original

# SQLite database (if used)
*.sqlite3


lens-correction-train-cleaned/
lens-correction-train-cleaned.zip
outputs/

cloud_h100_stage3_submission.zip

automatic-lens-correction/
automatic-lens-correction.zip

cloud_h100_stage3_submission